<!doctype html>
<html lang="de" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Unfallkarte Hamburg</title>
    <meta
      name="description"
      content="Eine Visualisierung aller Verkehrsunf채lle in Hamburg zwischen 2009 und 2023 aus der polizeilichen Unfalldatenbank EUSKa (Elektronische Unfalltypensteckkarte)."
    />
    <meta
      name="keywords"
      content="Hamburg, OpenData, Verkehrsunf채lle, Unfallstatistik"
    />
    <meta name="author" content="Moritz St체ckler" />
    <meta property="og:title" content="Polizeiliche Unfallkarte Hamburg" />
    <meta
      property="og:description"
      content="Eine Visualisierung aller Verkehrsunf채lle in Hamburg zwischen 2009 und 2023 aus der polizeilichen Unfalldatenbank EUSKa (Elektronische Unfalltypensteckkarte)."
    />
    <meta property="og:image" content="unfaelle_og.jpg" />
    <meta property="og:url" content="https://unfaelle.elbnerds.de" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="de_DE" />
  </head>
  <body class="h-full">
    <slot />
  </body>
</html>
